.first{
  background-color: #EAF6F6;
position: relative;
padding-top: 100px;
}

.horizontalmiddle{
  background-color: red;
  height: 200px;
  width: 200px;
}

.horizontallast{
  background-color: blue;
  height: 200px;
  width: 200px;
}

.horizontalextra{
  background-color: yellow;
  height: 200px;
  width: 200px;
}

.bottom-container{
  background-color: #66BFBF;
position: relative;
padding: 50px 0 20px;


}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
h1{
    color: #66BFBF;
  margin: 50px auto 0 auto;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}

h2{
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
 .bottomcloud{
  position: absolute;
  bottom: 300px;
  left:250px;
}

.topcloud{
  position: absolute;
  right: 300px;
    top: 40px;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
color: #11999E;
padding: 0 10px 0 10px;
}
a:hover{
  color:#EAF6F6;
}
.skill-row {
  line-height: 2;
text-align: left;
margin:100px auto 100px auto;

  width:50%;

}

.skill-row p{

  text-align: left;
}

.skillimg1{
  width: 25%;
  float: left;
  margin-right:30px;

}

.skillimg2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.myButton {
  margin: auto;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
  margin: 18px auto;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}

.middle-container{
  margin:100px auto;
}
hr{
  border-style: none;
  border-color: #EAF6F6;
  border-top-style: dotted;
  border-width:8px;
  width:7%;
margin: 100px auto;
}
